In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

<b>Задание 1.</b> Загрузите данные, проверьте типы, пропущенные значения.  
Сколько пропущенных значений встретилось в датасете?

In [2]:
df = pd.read_csv("https://stepik.org/media/attachments/lesson/387691/cars.csv")

In [3]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
df.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [5]:
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

<b>Задание 2.</b> Сгенерируем первый признак.  

Использовать полное название машины – не самый хороший вариант, поэтому создадим новый признак – марку автомобиля (company). Для этого используйте столбец CarName, разбейте значения ячеек по пробелу и запишите в колонку первый элемент. Например:  

<b>'audi 100 ls' → 'audi'</b>  

Сколько всего уникальных марок машины встречается в датасете? Столбец CarName с полным названием машины удалите из датасета, а также car_ID, они не пригодятся для дальнейшего анализа.

In [6]:
df["company"] = df.CarName.apply(lambda x : x.split(" ")[0])
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,company
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi

In [7]:
df.company.nunique()

28

In [8]:
df = df.drop(["CarName", "car_ID"], 1)

<b>Задание 3.</b> Теперь внимательнее посмотрите на уникальные значения company. Часть из них оказалась с ошибками!  
- 'maxda' → 'mazda'
- 'Nissan' → 'nissan'
- 'porcshce' → 'porsche'
- 'toyouta' → 'toyota'
- 'vokswagen' & 'vw' → 'volkswagen'  

Сколько уникальных производителей осталось в итоге?

In [9]:
df["company"] = df.company.replace("maxda", "mazda")
df["company"] = df.company.replace("Nissan", "missan")
df["company"] = df.company.replace("missan", "nissan")
df["company"] = df.company.replace("porcshce", "porsche")
df["company"] = df.company.replace("toyouta", "toyota")
df["company"] = df.company.replace("vokswagen", "volkswagen")
df["company"] = df.company.replace("vw", "volkswagen")

In [10]:
df.company.nunique()

22

<b>Задание 4.</b> Отлично! Чтобы не перегружать модель большим количеством предикторов, оставим только часть из них также не забыв про то, что мы предсказываем – 'price'.  

После этого посчитайте корреляцию между price и другими переменными. Чему равна корреляция между price и horsepower?

In [11]:
df = df[["price", "company", "fueltype", 'aspiration','carbody', 'drivewheel', 'wheelbase', 'carlength','carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower']]

In [12]:
df

,price,company,fueltype,aspiration,carbody,drivewheel,wheelbase,carlength,carwidth,curbweight,enginetype,cylindernumber,enginesize,boreratio,horsepower
0,13495.0,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,four,130,3.47,111
1,16500.0,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,four,130,3.47,111
2,16500.0,alfa-romero,gas,std,hatchback,rwd,94.5,171.2,65.5,2823,ohcv,six,152,2.68,154
3,13950.0,audi,gas,std,sedan,fwd,99.8,176.6,66.2,2337,ohc,four,109,3.19,102
4,17450.0,audi,gas,std,sedan,4wd,99.4,176.6,66.4,2824,ohc,five,136,3.19,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,16845.0,volvo,gas,std,sedan,rwd,109.1,188.8,68.9,2952,ohc,four,141,3.78,114
201,19045.0,volvo,gas,turbo,sedan,rwd,109.1,188.8,68.8,3049,ohc,four,141,3.78,160
202,21485.0,volvo,gas,std,sedan,rwd,109.1,188.8,68.9,3012,ohcv,six,173,3.58,134
203,22470.0,volvo,diesel,turbo,sedan,rwd,109.1,188.8,68.9,3217,ohc,six,145,3.01,106
204,22625.0,volvo,gas,turbo,sedan,rwd,109.1,188.8,68.9,3062,ohc,four,141,3.78,114

In [13]:
df.corr()

,price,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower
price,1.000000,0.577816,0.682920,0.759325,0.835305,0.874145,0.553173,0.808139
wheelbase,0.577816,1.000000,0.874587,0.795144,0.776386,0.569329,0.488750,0.353294
carlength,0.682920,0.874587,1.000000,0.841118,0.877728,0.683360,0.606454,0.552623
carwidth,0.759325,0.795144,0.841118,1.000000,0.867032,0.735433,0.559150,0.640732
curbweight,0.835305,0.776386,0.877728,0.867032,1.000000,0.850594,0.648480,0.750739
enginesize,0.874145,0.569329,0.683360,0.735433,0.850594,1.000000,0.583774,0.809769
boreratio,0.553173,0.488750,0.606454,0.559150,0.648480,0.583774,1.000000,0.573677
horsepower,0.808139,0.353294,0.552623,0.640732,0.750739,0.809769,0.573677,1.000000

<b>Задание 5.</b> Последний шаг в подготовке данных: линейная регрессия в python не справляется с категориальными переменными (типом object в pandas), поэтому давайте применим pd.get_dummies().

In [14]:
df.dtypes

price             float64
company            object
fueltype           object
aspiration         object
carbody            object
drivewheel         object
wheelbase         float64
carlength         float64
carwidth          float64
curbweight          int64
enginetype         object
cylindernumber     object
enginesize          int64
boreratio         float64
horsepower          int64
dtype: object

In [15]:
tmp_df = df[["price", "wheelbase", "carlength", "carwidth", "curbweight", "enginesize", "boreratio", "horsepower"]]
df_dummy = pd.get_dummies(data=df[["company", "fueltype", "aspiration", "carbody", "drivewheel", "enginetype", "cylindernumber"]], drop_first = True)

In [16]:
new_df = pd.concat([tmp_df, df_dummy], axis=1)

In [17]:
new_df.shape

(205, 49)

In [18]:
new_df.head()

,price,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower,company_audi,company_bmw,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,13495.0,88.6,168.8,64.1,2548,130,3.47,111,0,0,...,0,0,0,0,0,1,0,0,0,0
1,16500.0,88.6,168.8,64.1,2548,130,3.47,111,0,0,...,0,0,0,0,0,1,0,0,0,0
2,16500.0,94.5,171.2,65.5,2823,152,2.68,154,0,0,...,0,0,1,0,0,0,1,0,0,0
3,13950.0,99.8,176.6,66.2,2337,109,3.19,102,1,0,...,1,0,0,0,0,1,0,0,0,0
4,17450.0,99.4,176.6,66.4,2824,136,3.19,115,1,0,...,1,0,0,0,1,0,0,0,0,0

<b>Задание 6.</b> Сначала построим небольшую модель всего с одним предиктором цены (price) – horsepower.  
Какой процент изменчивости объясняет полученная модель? (округлите до целого)

In [19]:
results = smf.ols('price ~ horsepower', new_df).fit()
print(results.summary()) 
# Ответ: R-squared = 65%

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.653
Model:                            OLS   Adj. R-squared:                  0.651
Method:                 Least Squares   F-statistic:                     382.2
Date:                Thu, 02 Jun 2022   Prob (F-statistic):           1.48e-48
Time:                        13:13:06   Log-Likelihood:                -2024.0
No. Observations:                 205   AIC:                             4052.
Df Residuals:                     203   BIC:                             4059.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -3721.7615    929.849     -4.003      0.000   -5555.163   -1888.360
horsepower   163.2631      8.351     19.549      0.000     146.796     179.730
==============================================================================
Omnibus:                       47.741   Durbin-Watson:                   0.792
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               91.702
Skew:                           1.141   Prob(JB):                     1.22e-20
Kurtosis:                       5.352   Cond. No.                         314.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

<b>Задание 7.</b> Теперь – две модели:  
- модель со всеми предикторами
- модель со всеми предикторами, кроме марок машин  

Обратите внимание на изменения в $R^{2}$, коэффициентах и их значимости. Какую модель лучше оставить?

In [20]:
my_string = ""
for i in new_df.columns:
    my_string += i + ", "
my_string

'price, wheelbase, carlength, carwidth, curbweight, enginesize, boreratio, horsepower, company_audi, company_bmw, company_buick, company_chevrolet, company_dodge, company_honda, company_isuzu, company_jaguar, company_mazda, company_mercury, company_mitsubishi, company_nissan, company_peugeot, company_plymouth, company_porsche, company_renault, company_saab, company_subaru, company_toyota, company_volkswagen, company_volvo, fueltype_gas, aspiration_turbo, carbody_hardtop, carbody_hatchback, carbody_sedan, carbody_wagon, drivewheel_fwd, drivewheel_rwd, enginetype_dohcv, enginetype_l, enginetype_ohc, enginetype_ohcf, enginetype_ohcv, enginetype_rotor, cylindernumber_five, cylindernumber_four, cylindernumber_six, cylindernumber_three, cylindernumber_twelve, cylindernumber_two, '

In [41]:
X = sm.add_constant(np.array(new_df.drop("price", 1)))
model = sm.OLS(np.array(new_df.price), X)  # говорим модели, что у нас ЗП, а что НП
results = model.fit()  # строим регрессионную прямую
print(results.summary())  # смотрим результат

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.959
Model:                            OLS   Adj. R-squared:                  0.948
Method:                 Least Squares   F-statistic:                     81.09
Date:                Thu, 02 Jun 2022   Prob (F-statistic):           4.86e-89
Time:                        13:36:58   Log-Likelihood:                -1804.2
No. Observations:                 205   AIC:                             3702.
Df Residuals:                     158   BIC:                             3858.
Df Model:                          46
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3.472e+04   1.17e+04     -2.959      0.004   -5.79e+04   -1.15e+04
x1           147.1396     76.234      1.930      0.055      -3.429     297.708
x2          -113.2012     48.949     -2.313      0.022    -209.881     -16.522
x3           809.1860    214.508      3.772      0.000     385.514    1232.858
x4             4.1822      1.582      2.643      0.009       1.057       7.307
x5            61.4212     23.643      2.598      0.010      14.724     108.119
x6         -4319.4728   1759.825     -2.454      0.015   -7795.288    -843.657
x7            34.7010     18.000      1.928      0.056      -0.850      70.252
x8           437.1040   2125.971      0.206      0.837   -3761.885    4636.093
x9          7993.4998   2105.132      3.797      0.000    3835.671    1.22e+04
x10         3431.0969   2472.252      1.388      0.167   -1451.829    8314.023
x11        -2107.0167   2054.269     -1.026      0.307   -6164.387    1950.353
x12        -3034.5530   1686.337     -1.799      0.074   -6365.224     296.118
x13        -2328.7396   1622.141     -1.436      0.153   -5532.617     875.138
x14         -926.1643   1819.489     -0.509      0.611   -4519.823    2667.495
x15         2695.2664   2546.268      1.059      0.291   -2333.847    7724.379
x16        -1291.5657   1652.561     -0.782      0.436   -4555.527    1972.395
x17        -2762.0259   2786.701     -0.991      0.323   -8266.016    2741.965
x18        -3699.6473   1650.046     -2.242      0.026   -6958.640    -440.654
x19        -1488.1217   1563.564     -0.952      0.343   -4576.305    1600.061
x20        -2671.4595   1795.328     -1.488      0.139   -6217.398     874.479
x21        -3052.1258   1670.829     -1.827      0.070   -6352.166     247.915
x22         4915.9715   2797.761      1.757      0.081    -609.864    1.04e+04
x23        -2865.2197   2073.046     -1.382      0.169   -6959.676    1229.237
x24          719.8222   1767.620      0.407      0.684   -2771.390    4211.035
x25        -1.164e+04   3416.221     -3.407      0.001   -1.84e+04   -4892.375
x26        -2608.7871   1539.320     -1.695      0.092   -5649.086     431.512
x27        -2261.9355   1606.886     -1.408      0.161   -5435.683     911.812
x28           68.2605   1943.170      0.035      0.972   -3769.679    3906.200
x29         -243.7792    908.310     -0.268      0.789   -2037.774    1550.216
x30          596.6566    676.548      0.882      0.379    -739.588    1932.902
x31        -2556.7157   1213.929     -2.106      0.037   -4954.337    -159.094
x32        -3044.4196   1107.064     -2.750      0.007   -5230.972    -857.867
x33        -2256.9173   1154.971     -1.954      0.052   -4538.090      24.256
x34        -2815.4970   1223.156     -2.302      0.023   -5231.343    -399.651
x35         -169.4926    888.585     -0.191      0.849   -1924.531    1585.545
x36          231.9066   1039.685      0.223      0.824   -1821.566    2285.380
x37        -8358.0756   4326.239     -1.932      0.055   -1.69e+04     186.645
x38        -1067.3120   1602.125     -0.666      0.506   -4231.657    2097.033
x39         -273.7175   1063.557     -0.257      0.797   -2374.341    1826.906
x40         1.031e+04   2672.508      3.857      0.000    5028.873    1.56e+04
x41        -2393.8587   1214.631     -1.971      0.050   -4792.867       5.150
x42           37.4715   2092.597      0.018      0.986   -4095.600    4170.543
x43        -5235.5232   2887.214     -1.813      0.072   -1.09e+04     466.990
x44        -3741.3604   3542.130     -1.056      0.292   -1.07e+04    3254.673
x45        -5441.5317   2628.646     -2.070      0.040   -1.06e+04    -249.713
x46         1604.1476   2774.698      0.578      0.564   -3876.137    7084.432
x47        -8097.1585   3616.336     -2.239      0.027   -1.52e+04    -954.561
x48           37.4715   2092.597      0.018      0.986   -4095.600    4170.543
==============================================================================
Omnibus:                       81.075   Durbin-Watson:                   1.382
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              487.187
Skew:                           1.379   Prob(JB):                    1.62e-106
Kurtosis:                      10.031   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [42]:
new_df.columns

Index(['price', 'wheelbase', 'carlength', 'carwidth', 'curbweight',
       'enginesize', 'boreratio', 'horsepower', 'company_audi', 'company_bmw',
       'company_buick', 'company_chevrolet', 'company_dodge', 'company_honda',
       'company_isuzu', 'company_jaguar', 'company_mazda', 'company_mercury',
       'company_mitsubishi', 'company_nissan', 'company_peugeot',
       'company_plymouth', 'company_porsche', 'company_renault',
       'company_saab', 'company_subaru', 'company_toyota',
       'company_volkswagen', 'company_volvo', 'fueltype_gas',
       'aspiration_turbo', 'carbody_hardtop', 'carbody_hatchback',
       'carbody_sedan', 'carbody_wagon', 'drivewheel_fwd', 'drivewheel_rwd',
       'enginetype_dohcv', 'enginetype_l', 'enginetype_ohc', 'enginetype_ohcf',
       'enginetype_ohcv', 'enginetype_rotor', 'cylindernumber_five',
       'cylindernumber_four', 'cylindernumber_six', 'cylindernumber_three',
       'cylindernumber_twelve', 'cylindernumber_two'],
      dtype='object')

In [46]:
new_df2 = new_df.drop(['price', 'company_audi', 'company_bmw',
       'company_buick', 'company_chevrolet', 'company_dodge', 'company_honda',
       'company_isuzu', 'company_jaguar', 'company_mazda', 'company_mercury',
       'company_mitsubishi', 'company_nissan', 'company_peugeot',
       'company_plymouth', 'company_porsche', 'company_renault',
       'company_saab', 'company_subaru', 'company_toyota',
       'company_volkswagen', 'company_volvo'], 1)
X = sm.add_constant(np.array(new_df2))
model = sm.OLS(np.array(new_df.price), X)  # говорим модели, что у нас ЗП, а что НП
results = model.fit()  # строим регрессионную прямую
print(results.summary())  # смотрим результат

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.914
Model:                            OLS   Adj. R-squared:                  0.901
Method:                 Least Squares   F-statistic:                     72.32
Date:                Thu, 02 Jun 2022   Prob (F-statistic):           9.86e-81
Time:                        13:40:08   Log-Likelihood:                -1881.6
No. Observations:                 205   AIC:                             3817.
Df Residuals:                     178   BIC:                             3907.
Df Model:                          26
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -1.7e+04    1.3e+04     -1.309      0.192   -4.26e+04    8625.219
x1            71.1868     87.028      0.818      0.414    -100.552     242.925
x2           -51.3497     50.341     -1.020      0.309    -150.692      47.993
x3           541.8700    253.327      2.139      0.034      41.958    1041.782
x4             2.9577      1.796      1.647      0.101      -0.585       6.501
x5            36.0515     22.376      1.611      0.109      -8.105      80.208
x6         -2230.4519   1731.681     -1.288      0.199   -5647.719    1186.815
x7            86.8164     16.717      5.193      0.000      53.827     119.806
x8         -2423.0935    975.579     -2.484      0.014   -4348.283    -497.904
x9         -1139.2334    787.230     -1.447      0.150   -2692.738     414.271
x10        -3728.0949   1519.366     -2.454      0.015   -6726.383    -729.807
x11        -4639.1279   1294.594     -3.583      0.000   -7193.855   -2084.401
x12        -3337.7854   1356.075     -2.461      0.015   -6013.838    -661.732
x13        -4315.4661   1465.089     -2.946      0.004   -7206.646   -1424.287
x14          297.2402   1121.766      0.265      0.791   -1916.431    2510.912
x15         1939.1594   1226.536      1.581      0.116    -481.263    4359.582
x16        -1.713e+04   4540.120     -3.773      0.000   -2.61e+04   -8171.142
x17         2176.0521   1332.818      1.633      0.104    -454.106    4806.211
x18         4006.5687    897.437      4.464      0.000    2235.584    5777.553
x19         5421.2822   1388.078      3.906      0.000    2682.076    8160.488
x20        -5001.2242   1345.435     -3.717      0.000   -7656.280   -2346.169
x21        -5196.6413   2084.532     -2.493      0.014   -9310.217   -1083.066
x22        -1.389e+04   2891.599     -4.802      0.000   -1.96e+04   -8180.353
x23        -1.618e+04   3243.610     -4.989      0.000   -2.26e+04   -9780.800
x24        -1.175e+04   2287.516     -5.135      0.000   -1.63e+04   -7231.547
x25        -9264.0553   4750.899     -1.950      0.053   -1.86e+04     111.279
x26        -1.214e+04   3386.507     -3.585      0.000   -1.88e+04   -5458.378
x27        -5196.6413   2084.532     -2.493      0.014   -9310.217   -1083.066
==============================================================================
Omnibus:                       18.493   Durbin-Watson:                   1.249
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               50.728
Skew:                           0.293   Prob(JB):                     9.65e-12
Kurtosis:                       5.365   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

<b>Задание 8.</b> Выбранная модель объясняет примерно 90% дисперсии (окр. до целого). Среди предикторов 
10 из 27 оказались не значимыми (p > 0.05). Пример интерпретации: при единичном изменении показателя horsepower, цена 
ВОЗРАСТАЕТ на 86.8164 (без округления).